<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amethyst</title>
    <div th:insert="base::header"></div> <style>
    .container{
        background: url(https://res.cloudinary.com/ascension-enterprises/image/upload/v1569343860/samples/Java%20Boot%20Camp/u9UeFz_baef1p.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: "Source Code Pro";
        font-size: large;
    }
</style>
</head>
<body style="background-color: lightyellow">
<br>
<div class="container">
    <!--    Navigation Bar-->
    <div th:insert="base :: navbar"></div>

    <div class="jumbotron" style="background-color: lightcyan">
        <center><h1>Rose Quartz</h1></center>
    </div>

    <center>
        <img src="https://res.cloudinary.com/ascension-enterprises/image/upload/v1569436601/samples/Java%20Boot%20Camp/roseQuartz_drk5ms.jpg"
             alt="Rose Quartz"
             height="200">
    </center>

    <h2>Description:</h2>
    <b>
        <p>The Rose Quartz crystal is .</p>
    </b>


    <div th:marginwidth="200">
        <h2 th:marginwidth="400">Properties:</h2>
        <div>
            <ul>
                <b>
                    <li>Transforms lower level energy to a higher level</li>
                    <li>Prop2</li>
                    <li>Prop3</li>
                </b>
            </ul>
        </div>
    </div>
    <br><br><br>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>