<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="css/myTimeline.css">
</head>
<body>
<div th:insert="base :: navbar"></div>
<br>
<center>
<h1><span style="alignment:center">Upcoming Projects 2019–2020</span></h1>
</center>

<div class="timeline">
    <div class="container left">
        <div class="content">
            <h2>10-30-2019</h2>
            <p>Finish Beta Prototype of NGN AI Engine</p>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>4-20-2020</h2>
            <p>Integrate NGN AI Engine into Cloud-based App</p>
        </div>
    </div>
</div>
</body>
</html>